{% extends 'polls/template.html' %}


{% load staticfiles %}
{% block content %}

<span onload="submitPayuForm()">
  <script type="text/javascript">
    var hash = "{{ hashh }}";
    function submitPayuForm() {
      if(hash =='') {
        return;
      }
      var payuForm = document.forms.payuForm;
      payuForm.submit();
    }
  </script>
</span>

<h2>Give Details</h2>
    <br/>
    {% if error %}
	
      <span style="color:red">Please fill all mandatory fields.</span>
      <br/>
      <br/>
      {% endif %}
     
      <form action={{ action }} method="post" name="payuForm">{% csrf_token %}
      <input type="hidden" name="key" value="{{ MERCHANT_KEY }}" />
      <input type="hidden" name="hash_string" value="{{ hash_string }}" />
      <input type="hidden" name="hash" value="{{ hashh }}"/>
       <input type="hidden" name="posted" value="{{ posted }}"/>
      <input type="hidden" name="txnid" value="{{ txnid }}" />

    <div class="row">
		<div class="col-md-4">
		    
		</div>

		<div class="col-md-1">
		    <p>Amount: </p>
		</div>

		<div class="col-md-1">
		    <p><input name="amount" value="{{ posted.amount|default:'' }}" readonly /></p>
		</div>

    </div>

    <div class="row">
		<div class="col-md-4">
		    
		</div>

		<div class="col-md-1">
		    <p>First Name: </p>
		</div>

		<div class="col-md-1">
		    <p><input name="firstname" id="firstname" value="{{ posted.firstname|default:'' }}" readonly /></p>
		</div>

		<div class="col-md-3">
			
		</div>
		<div class="col-md-1">
			<input type="submit" value="Submit" />
		</div>

    </div>

    <div class="row">
		<div class="col-md-4">
		    
		</div>

		<div class="col-md-1">
		    <p>Last Name: </p>
		</div>

		<div class="col-md-1">
		    <p><input name="lastname" value="{{ posted.lastname|default:'' }}" readonly /></p>
		</div>

    </div>

    <div class="row">
		<div class="col-md-4">
		    
		</div>

		<div class="col-md-1">
		    <p>Email: </p>
		</div>

		<div class="col-md-1">
		    <p><input name="email" id="email" value="{{ posted.email|default:'' }}" required /></p>
		</div>

    </div>

    <div class="row">
		<div class="col-md-4">
		    
		</div>

		<div class="col-md-1">
		    <p>Phone: </p>
		</div>

		<div class="col-md-1">
		    <p><input name="phone" value="{{ posted.phone|default:'' }}" required /></p>
		</div>

    </div>

    <div class="row">
		<div class="col-md-4">
		    
		</div>

		<div class="col-md-1">
		    <p>Remarks: </p>
		</div>

		<div class="col-md-1">
		    <p><textarea name="productinfo" required>{{ posted.productinfo|default:'' }}</textarea></p>
		</div>

    </div>

    <input type="hidden" name="surl" value="{{ posted.surl }}" size="64" />
    <input type="hidden" name="service_provider" value="payu_paisa" size="64" />
    <input type="hidden" name="furl" value="{{ posted.furl }}" size="64" />

      <table>
        <tr>
          <td><b><u>Address</u></b></td>
        </tr>
        <tr>
        	<td>
        		&nbsp
        	</td>
        </tr>
        <tr>
          <td>Address1: </td>
          <td><input name="address1" value="{{ posted.address1 }}" required />&nbsp</td>
          <td>Address2: </td>
          <td><input name="address2" value="{{ posted.address2 }}"  required />&nbsp</td>
        </tr>
        <tr>
        	<td>
        		&nbsp
        	</td>
        </tr>
        <tr>
          <td>City: </td>
          <td><input name="city" value="{{ posted.city }}" required/>&nbsp</td>
          <td>State: </td>
          <td><input name="state" value="{{ posted.state }}" required/>&nbsp</td>
        </tr>
        <tr>
        	<td>
        		&nbsp
        	</td>
        </tr>
        <tr>
          <td>Country: </td>
          <td><input name="country" value="{{ posted.country }}" required/>&nbsp</td>
          <td>Zipcode: </td>
          <td><input name="zipcode" value="{{ posted.zipcode }}" required/>&nbsp</td>
        </tr>
        
    </table>
    
    <br><br><br>

    <div class="row">
		<div class="col-md-6">
		    
		</div>

		<div class="col-md-1">
			
		</div>

		<div class="col-md-1">

		</div>

    </div>
</form>

<br><br><br><br>
	
{% endblock %}