{% extends 'shoeshowroom/template.html' %}


{% load staticfiles %}
{% block content %}
	<p style="font-size: 20px;color: #a695a6">Change Quantity</p><br><br>
	<form action="" method="Post" id="formq">
		{% csrf_token %}
		<div class="row">
			<div class="col-md-1">
				
			</div>
			<div class="col-md-3">
				<p>New Quantity: &nbsp &nbsp<input type="text" name="quant" ></p>
			</div>
		</div>
	</form>
	<br>
	<div class="row">
        <div class="col-md-2">
            
        </div>
        <div class="col-md-2">
            <button type="submit" form="formq" value="Submit">Save</button>
        </div>
    </div>
    <br><br><br><br><br>
	
{% endblock %}