<div class="row">

	<div class="col-md-1">

		<div>
			
		</div>
	</div>

    <div class="col-md-10">
        
        <div class="main box-border">
            <div id="mi-slider" class="mi-slider">
                <ul>

                    <li>
                        <img src="{% static "itemslider/images/boot.jpg" %}" alt="img01"><h4>Boots</h4>
                    </li>
                    <li>
                        <img src="{% static "itemslider/images/oxford.jpg" %}" alt="img02"><h4>Oxfords</h4>
                    </li>
                    <li>
                        <img src="{% static "itemslider/images/loafer.jpg" %}" alt="img03"><h4>Loafers</h4>
                    </li>
                    <li>
                        <img src="{% static "itemslider/images/sneaker.jpg" %}" alt="img04"><h4>Sneakers</h4>
                    </li>
                </ul>
                <ul>

                    <li>
                        <img src="{% static "itemslider/images/boot.jpg" %}" alt="img01"><h4>Boots</h4>
                    </li>
                    <li>
                        <img src="{% static "itemslider/images/oxford.jpg" %}" alt="img02"><h4>Oxfords</h4>
                    </li>
                    <li>
                        <img src="{% static "itemslider/images/loafer.jpg" %}" alt="img03"><h4>Loafers</h4>
                    </li>
                    <li>
                        <img src="{% static "itemslider/images/sneaker.jpg" %}" alt="img04"><h4>Sneakers</h4>
                    </li>
                </ul>
                <ul>

                    <li>
                        <img src="{% static "itemslider/images/boot.jpg" %}" alt="img01"><h4>Boots</h4>
                    </li>
                    <li>
                        <img src="{% static "itemslider/images/oxford.jpg" %}" alt="img02"><h4>Oxfords</h4>
                    </li>
                    <li>
                        <img src="{% static "itemslider/images/loafer.jpg" %}" alt="img03"><h4>Loafers</h4>
                    </li>
                    <li>
                        <img src="{% static "itemslider/images/sneaker.jpg" %}" alt="img04"><h4>Sneakers</h4>
                    </li>
                </ul>
                <ul>

                    <li>
                        <img src="{% static "itemslider/images/boot.jpg" %}" alt="img01"><h4>Boots</h4>
                    </li>
                    <li>
                        <img src="{% static "itemslider/images/oxford.jpg" %}" alt="img02"><h4>Oxfords</h4>
                    </li>
                    <li>
                        <img src="{% static "itemslider/images/loafer.jpg" %}" alt="img03"><h4>Loafers</h4>
                    </li>
                    <li>
                        <img src="{% static "itemslider/images/sneaker.jpg" %}" alt="img04"><h4>Sneakers</h4>
                    </li>
                </ul>

                <nav>
                    <a href="#">Shoes</a>
                    <a href="#">Sandals</a>
                    <a href="#">Slippers</a>
                    <a href="#">Socks</a>
                </nav>
            </div>
            
        </div>
        <br />
    </div>
</div>