{% extends 'shoeshowroom/template.html' %}


{% load staticfiles %}
{% block content %}
	<br><br>
	<ul>
	{% for o in orders %}
		<li><a href="{% url 'orderdetailsadmin' o.0 %}" style="font-size: 17px;color: darkblue;font-family: comic sans ms;text-decoration: none;">{{o.0}}</p></a>
		<p>Payment Left: &nbsp &nbsp{{o.4}}</p>
		<p>Shipper Id: &nbsp &nbsp{% if o.5 %} {{o.5}} {% else %} <a href="{% url 'addship' o.0 %}">Add Shipper</a> {% endif %} </p>
		<p>Reached Status: &nbsp &nbsp{% if o.6 %} Reached {% else %} <a href="{% url 'reachedstatus' o.0 %}">Click If Reached</a> {% endif %} </p>
		</li>
		<hr>
	{% endfor %}
	</ul>

	<br><br><br><br><br><br><br><br>
{% endblock %}