{% extends 'shoeshowroom/template.html' %}


{% load staticfiles %}
{% block content %}
	
	<div class="row">


        <div class="col-md-4 text-center col-sm-6 col-xs-6">
            <div class="thumbnail product-box">
                <div class="caption">

                	<img src="data:image/png;base64,{{productx.img1}}" width="150" height="150" alt="CAN'T FIND PICTURE"/><br><br><br><br>

                </div>
            </div>

            <div class="thumbnail product-box">
                <div class="caption">

                    <img src="data:image/png;base64,{{productx.img2}}" width="150" height="150" alt="CAN'T FIND PICTURE"/><br><br><br><br>

                </div>
            </div>

        </div>

        <div class="col-md-4 text-center col-sm-6 col-xs-6">
            <div class="thumbnail product-box">
                <div class="caption">

                	<img src="data:image/png;base64,{{productx.img3}}" width="150" height="150" alt="CAN'T FIND PICTURE"/><br><br><br><br>

                </div>
            </div>
        </div>

        <div class="col-md-3 text-center col-sm-6 col-xs-6">
            <div class="thumbnail product-box">
                <div class="caption">

                    <span style="float: left;"><font style="color: grey;font-size: 20px;">Specifications</font></span><br>
                    <hr style="height:1px;border:none;color:grey;background-color:grey;"><br>

                    <span style="float: left;"><font style="color: black;font-size: 15px;font-family:comic sans ms ">Company</font></span><span style="float: right;"><strong style="font-size: 15px;font-family: courier">{{ productx.company }}</strong></span><br><br>

                    <span style="float: left;"><font style="color: black;font-size: 15px;font-family:comic sans ms">Model</font></span><span style="float: right;"><strong style="font-size: 15px;font-family: courier">{{ productx.modelname }}</strong></span><br><br>

                    <span style="float: left;"><font style="color: black;font-size: 15px;font-family:comic sans ms">Type</font></span><span style="float: right;"><strong style="font-size: 15px;font-family: courier">{{ productx.floater }}</strong></span><br><br>

                    <span style="float: left;"><font style="color: black;font-size: 15px;font-family:comic sans ms">Price</font></span><span style="float: right;"><strong style="font-size: 15px;font-family: platino">{{ productx.price }}</strong></span><br><br>

                    <span style="float: left;"><font style="color: black;font-size: 15px;font-family:comic sans ms">Outer Material</font></span><span style="float: right;"><strong style="font-size: 15px;font-family:courier">{{ productx.outer_material }}</strong></span><br><br>

                    <span style="float: left;"><font style="color: black;font-size: 15px;font-family:comic sans ms">Height</font></span><span style="float: right;"><strong style="font-size: 15px;font-family: courier">{{ productx.neck_height }}</strong></span><br><br>

                    <span style="float: left;"><font style="color: black;font-size: 15px;font-family:comic sans ms">Occasion</font></span><span style="float: right;"><strong style="font-size: 15px;font-family:courier">{{ productx.occasion }}</strong></span><br><br>

                    <span style="float: left;"><font style="color: black;font-size: 15px;font-family:comic sans ms">Weight</font></span><span style="float: right;"><strong style="font-size: 15px;font-family:platino">{{ productx.weight }}</strong></span><br><br>

                    <span style="float: left;"><font style="color: black;font-size: 15px;font-family:comic sans ms">Size</font></span><span style="float: right;"><strong style="font-size: 15px;font-family:platino">{{ productx.size }}</strong></span><br><br>

                    <span style="float: left;"><font style="color: black;font-size: 15px;font-family:comic sans ms">Pack Of</font></span><span style="float: right;"><strong style="font-size: 15px;font-family:platino">{{ productx.pack_of }}</strong></span><br><br>

                    <span style="float: left;"><font style="color: black;font-size: 15px;font-family:comic sans ms">Availability</font></span><span style="float: right;"><strong style="font-size: 15px;font-family:platino">{{ productx.availability }}</strong></span><br><br>

                    <a href="{% url 'addpic' productx.0 %}" style="float: left;text-decoration: none;font-size: 15px;font-family:comic sans ms">Add New Pic</a>


                    <br><br><br>

                </div>
            </div>
        </div>

    </div>
	

	<hr>
	
	<br><br>
	<p style="font-size: 20px;color: #a695a6">Changes</p><br><br>
	<form action="" method="Post" id="form3">
		{% csrf_token %}

		<div class="row">
			<div class="col-md-3">
				Delete:
			</div>
			<div class="col-md-2">
				 <input style="float: left;" type="checkbox" name="del" value="del"><br>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-3">
                <p>Change Availability: &nbsp &nbsp</p><br><br>
				<p>Change Price: &nbsp &nbsp</p><br><br>
			</div>
			<div class="col-md-2">
				<input style="float: left;" type="text" name="availability" ><br><br><br>
				<input style="float: left;" type="text" name="price" ><br><br><br>

			</div>
			<div class="col-md-2">
				
			</div>
			<div class="col-md-2">
	    		
			</div>
			
		</div>
	</form>
	<br>
	<div class="row">
        <div class="col-md-2">
            
        </div>
        <div class="col-md-2">
            <button type="submit" form="form3" value="Submit">Save</button>
        </div>
    </div>
    <a href="{% url 'addpic' productx.0 %}">Add Pic</a>
    <br><br><br><br><br>

{% endblock %}